<div id="layoutSidenav">
    <%- include('./layouts/sidenav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="card shadow-lg border-1 mt-5">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        List of quiz
                    </div>
                    <div class="card-body">
                        <% if(msg) { %>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="alert alert-danger" role="alert">
                                <%=msg%>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary d-inline-block h-100" href="/showReport">
                                    Generte Report
                                </a>
                                <a type="button" class="btn btn-primary d-inline-block h-100" href="<%=filelink%>"
                                    download>Download</a>
                            </div>
                        </div>
                        <% } else { %>
                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn btn-primary d-inline-block h-100" href="/showReport">
                                Generte Report
                            </a>
                        </div>
                        <% }%>
                        <% if(data) { %>
                        <%- include('./layouts/table') %>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
